.Products{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-header{
    width: 100%;
    margin-top: 2.5rem;
    padding-left: 11vw;
    padding-right: 11vw;
}

.products-header h3{
    font-family: "Playfair Display";
    color: var(--black);
    font-weight: 700;
    font-size: 2.5rem;
}

.products-header p{
    font-family: "Montserrat";
    color: var(--black);
}

.products-container{

    /*display: grid;
    grid-template-columns: repeat(3);
  /*padding: 10px;*/

  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 3rem;
  -webkit-column-gap: 3rem;
  column-gap: 3rem;
  column-fill: balance;
  -moz-column-fill: balance;

}

/*.products-container-row{
    margin-left: 1rem;
    margin-right: 1rem;
}*/

