.login-image-section{
    margin: 0;
    padding-right: 0 !important;
    padding-left: 0 !important;
    background-color: white;
}

.login-content {
    background-color: #F5F4F2;
}

.login-form{
    height: 100%;
    align-items: stretch;
}

#Login .orange{
    color: var(--orange);
}


.login-normal-text{
    font-family: "Montserrat";
}



.login-form{
    padding-top: 1.8em;
}

#Login h1 {
    text-align:center;
    font-family: "Playfair Display";
    font-weight: bold;
}

.login-input {
    width: 100%;
    border-radius: 0 !important;
    background-color: transparent;
    resize: none;
    outline: none;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-bottom: 1px solid var(--black) !important;
}



.login-form-section{
    margin-top: 2em;
}

#login-button{
    margin-top: 2em ;
    text-align:center;
    width: 100%;
    background-color: var(--orange);
    border-color: var(--orange);
}

.login-noAccount{
    margin-top: 2em;
}

.login-noAccount a{
    text-decoration: None;
}

.login-carousel-item{
    max-width: 300em;
}

.login-carousel{
    max-width: 33em;
}


@media (max-width: 992px){
    .hide-sm{
        display: none;
    }
}


@media (min-width: 1200px){
    #Login h1 {
        font-size: 1.5rem;
        padding-right: 3em;
        padding-left: 3em;
    }

    .login-form > form{
        padding: 1em 6em;
    }

    .login-normal-text{
        font-family: "Montserrat";
        font-size: 1rem;
    }

    .login-content {
        margin: 2em 4em 2em 4em !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    #Login h1 {
        font-size: 1.4rem;
        padding-right: 2em;
        padding-left: 2em;
    }

    .login-form > form{
        padding: 0em 3em;
    }

    .login-normal-text{
        font-size: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    #Login h1 {
        font-size: 1.4rem;
        padding-right: 2em;
        padding-left: 2em;
    }

    .login-form > form{
        padding: 1em 3em;
    }

    .login-normal-text{
        font-size: 1rem;
    }
    .login-content {
        margin: 2em 4em 2em 4em !important;
    }
}

@media (max-width: 576px){
    #Login h1 {
        font-size: 1.3rem;
        padding-right: 2em;
        padding-left: 2em;
    }

    .login-form > form{
        padding: 1em 1em;
    }

    .login-normal-text{
        font-size: .9rem;
    }

    .login-content {
        margin: 2em 1em 2em 1em !important;
    }
}




