#Banner{
    width: 100%;
    display: flex;
}

#banner-right{
    width: 50%;
    position: relative;
}

#banner-white-extrusion{
    position: absolute;
    height: 70%;
    width: 15%;
    background-color: rgba(255, 255, 255, 0.6);
    top: 15%
}

#banner-left{
    width: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
}

.banner-left-text{
    padding: 2.5rem 4rem 2.5rem 5rem;
}

.banner-left-subtitle{
    font-family: "Playfair Display";
    color: var(--black);
    font-weight: 700;
    font-size: 2rem;
}

.banner-left-firstRow{
    font-family: "Montserrat";
    color: var(--orange);
    font-size: 1.2rem;
    font-weight: 500;

}

.banner-left-description{
    font-family: "Montserrat";
    color: var(--black);
    margin-top: 1.5rem;
    padding-right: 9em;
    padding-left: 9em;
}

.banner-left-firstRow p{
    margin: 0;
}


#banner-image{
    width: 100%;
}
