@media (min-width: 992px){
    .popularArtisans-content{
        padding-left: 6rem;
        padding-right: 6rem;
        display: flex;
        justify-content: space-around;
    }

    .popularArtisans-tit h3{
        font-size: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .popularArtisans-content{
        padding-left: 13rem;
        padding-right: 13rem;
        justify-content: space-around;
    }

    .popularArtisans-content img{
        margin-bottom: 1.5em;
    }

    .popularArtisans-tit h3{
        font-size: 2rem;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .popularArtisans-content{
        padding-left: 10rem;
        padding-right: 10rem;
        justify-content: space-around;
    }

    .popularArtisans-content img{
        margin-bottom: 1.5em;
    }

    .popularArtisans-tit h3{
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    .popularArtisans-content{
        padding-left: 5rem;
        padding-right: 5rem;
        justify-content: space-around;
    }

    .popularArtisans-content img{
        margin-bottom: 1.5em;
    }

    .popularArtisans-tit h3{
        font-size: 1.3rem;
    }
}

.PopularArtisans{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: var(--gray);
    width: 100vw;
    margin-top: 4rem;
    padding-bottom: 3rem;
}

.popularArtisans-tit{
    margin-top: 3rem;
}

.popularArtisans-tit h3{
    font-family: "Playfair Display";
    font-weight: 700;
    color: var(--black);
}

.popularArtisans-tit span{
    font-style: italic;
}


@media (min-width: 576px) {
    .popularArtisans-content{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}

@media (max-width: 576px) {
    .popularArtisans-content{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}


.popularArtisans-content{
    width: 100%;
}


.popularArtisans-content img{
    width: 94%;
}


.popularArtisans-seeAll{
    text-transform: uppercase;
}

.popularArtisans-but-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.popularArtisans-but-line{
    width: 33vw;
}

.popularArtisans-but-line hr{
    border-top: 1.3px solid var(--black);
}

.popularArtisans-but-container a{
    font-family: "Montserrat";
    color: var(--black);
    padding-left: 3vw;
    padding-right: 3vw;
    text-decoration: none;
}

.popularArtisans-but-container a:hover{
    text-decoration: underline;
    color: var(--black);
}