@media (min-width: 992px){
    .quiz-questions{
        display: flex;
    }

    .QuizQuestion{
        width: 20vw;
        margin-left: 5em;
        margin-right: 5em;
    }

    .quiz-questions{
        margin: 2rem 12rem;
    }

    .quiz-photo{
        height: 17em;
    }
}

@media (max-width: 992px) {
    .quiz-questions{
        margin: 1.5rem 10%;
    }

    .quiz-photo{
        width: 100%;
    }
}



.Quiz{
    margin-top: 4.5rem;
    margin-left: 11vw;
    margin-right: 11vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
}

.quiz-questions{
    font-family: "Montserrat";
    text-align: center;
}

.quiz-title{
    text-align: center;
}

.quiz-title h3{
    font-family: "Playfair Display";
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;

}

.quiz-title p{
    font-family: "Montserrat";
}

.QuizQuestion h1{
    font-size: 0.9rem;
    color: var(--black) !important;
    margin-bottom: 1.5rem;
}

.QuizQuestion p{
    font-size: 0.9rem;
    font-weight: 400 !important;
    color: var(--black) !important;
}

.quiz-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.quiz-photo{
    margin-bottom: 2.7rem;
}

.Quiz [role=button]{
    border-radius: 20px !important;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 5%);
}

._is6ww{
    width: inherit !important;
    text-align: center !important;
}

.Quiz span{
    font-size: 0.9rem !important;
}