.intro-artisans{
    padding-top: 2.5rem;
    padding-left: 11vw;
    padding-right: 11vw;
}

#title-artisans{
    font-family: "Playfair Display";
    font-weight: bold;
    color: var(--black);
    margin-bottom: .8em;
}

.text-artisans{
    font-family: "Montserrat";
}


.filter-artisans{
    padding-top: 2em;

}

.artisans-section img{
    padding: 2.5em;
}

.artisans-section{
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
}

.orange{
    color: var(--orange);
}

#colombia_map{
    max-height: 35em;
}

@media (min-width: 992px){
    .description-artisans{
        padding-top: 7em;
    }
    .artisans-col img{
        width: 100%;
    }
    #title-artisans{
        font-size: 2.5rem;
    }

    .text-artisans{
        font-size: 1rem;
    }
}

@media (max-width: 991px){
    .description-artisans{
        padding-top: 3em;
    }
    .artisans-col img{
        width: 90%;
    }
    #title-artisans{
        font-size: 2rem;
    }

    .text-artisans{
        font-size: .8rem;
    }
}



