.cart-container{
    padding-top: 2.5rem;
}

.cart-container h1, .cart-container h2, .cart-modal h3{
    font-family: "Playfair Display";
    color: var(--black);
}

.cart-container h1{
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: .5rem;
}

.cart-container h2{
    padding-top: 0;
}

.cart-container p,.cart-container table{
    font-family: "Montserrat";
}

.cart-container h2{
    font-family: "Montserrat";
}

.cart-container th, .cart-container td{
    text-align: center;
    width: 16.66%;
}

.cart-container table{
    width: 100%;
}

#cart-checkout-button{
    margin-top: 2em ;
    text-align:center;
    width: 100%;
    background-color: var(--orange);
    border-color: var(--orange);
    margin-bottom: 1em;
    color: white;
}

.cart-summary-cost{
    width: 40%;
}

#cart-total-region{
    color: #3B373A;
    font-weight: bold;
}

.cart-container td{
    height: 5em;
}

.cart-container th{
    font-weight: normal;
}

.cart-table-summary-row{
    margin-top: 1rem;
}

.cart-container img{
    width: 80%;
    padding: 3%;
}


#cart-table-divisor{
    opacity: 15%;
}


.cart-summary-col{
    height: fit-content;
    background-color: #F5F4F2;
}

.cart-summary-col p, .cart-summary-col h2{
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

.cart-summary-col h2{
    font-weight: bold;
    margin-bottom: 2em;
}

.cart-summary-col p{
    margin-top: 2em;
}

#cart-underline-location{
    margin-top: -1em;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.cart-table-row button{
    border: none;
    background: none;
}

.cart-divisor-line{
    margin-left: 1vw;
    margin-right: 1vw;
}

.cart-button{
    margin-top: 2em ;
    text-align:center;
    width: 100%;
    background-color: var(--orange);
    border-color: var(--orange);
    margin-bottom: 1em;
    color: white;
}
.cart-button:hover{
    color: white;
}

.modal-content .modal-header{
    padding-right: 3em;
    margin-top: 2em;
    border-bottom: 0px;
}

.cart-modal h3{
    text-align: center;
    font-size: 2.7em;
    margin-bottom: .8em;
    margin-top: .8em;
}

.cart-modal p{
    text-align: center;
    font-family: "Montserrat";
    font-size: 1.3em;
    margin-bottom: 1em;
}

.cart-modal .modal-body{
    padding-right: 6em;
    padding-left: 6em;
}



.cart-modal button{
    margin-bottom: 2.4em;
}

.modal-90w{
    width: 40%;
}

@media (max-width: 992px){
    .cart-hide-sm{
        display: none;
    }
}

@media (min-width: 992px){
    .cart-hide-lg{
        display: none;
    }
}

@media (min-width: 1265px){
    .cart-container h1{
        font-size: 2.5em;
    }

    .cart-container table{
        font-size: 1em;
    }

    #Cart p{
        font-size: 1em;
    }

    .cart-summary-col h2{
        font-size: 2em;
    }

    .cart-table-row{
        padding-top: 3vw;
        padding-right: 4vw;
    }
    .cart-container{
        padding-left: 10vw;
        padding-right: 5vw;
    }
    .cart-summary-col{
        margin-top: 2em;
        padding-top: 2.5vw;
    }
    .cart-table-row button{
        margin-right: 1em;
        margin-left: 1em;
        font-size: 1.2em;
    }
}

@media (min-width: 992px) and (max-width: 1265px){
    .cart-container h1{
        font-size: 2.4em;
    }
    .cart-container table{
        font-size: .7em;
    }
    #Cart p{
        font-size: .8em;
    }
    .cart-summary-col h2{
        font-size: 1.5em;
    }
    .cart-table-row{
        padding-top: 3vw;
        padding-right: 4vw;
    }
    .cart-summary-col{
        margin-top: 2em;
        padding-top: 2.5vw;
    }
    .cart-container{
        padding-left: 10vw;
        padding-right: 5vw;
    }
    .cart-table-row button{
        margin-right: 1em;
        margin-left: 1em;
        font-size: 1.2em;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .cart-container h1{
        font-size: 2em;
    }

    .cart-container table{
        font-size: 1em;
    }

    #Cart p{
        font-size: 1em;
    }
    .cart-summary-col h2{
        font-size: 2em;
    }

    .cart-summary-col{
        margin-top: 2em ;
        padding: 4em;
    }
    .cart-container{
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .cart-table-row button{
        margin-right: .5em;
        margin-left: .5em;
    }

}

@media (min-width: 576px) and (max-width: 768px){
    .cart-container h1{
        font-size: 2em;
    }

    .cart-container table{
        font-size: 1em;
    }

    #Cart p{
        font-size: 1em;
    }

    .cart-summary-col h2{
        font-size: 2em;
    }

    .cart-summary-col{
        margin-top: 2em ;
        padding: 4em;
    }
    .cart-container{
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .cart-table-row button{
        margin-right: .5em;
        margin-left: .5em;
    }
}

@media (max-width: 576px){
    .cart-container h1{
        font-size: 2em;
    }

    .cart-container table{
        font-size: .8em;
    }

    #Cart p{
        font-size: .8em;
    }

    .cart-summary-col h2{
        font-size: 1.8em;
    }

    .cart-summary-col{
        margin-top: 2em ;
        padding: 2em;
    }

    .cart-container{
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .cart-table-row button{
        margin-right: .5em;
        margin-left: .5em;
    }

}