#ProductDetail .container-fluid{
    padding-left: 11vw;
    padding-right: 11vw;
}

#ProductDetail .row{
    margin-bottom: 5em;
}

#productDetail-main-image{
    width: 100%;
}

#productDetail-productDescription-col{
    padding-left: 5em;
}


#productDetail-images-row .col-4{
    max-height: 24.5vw;
}

#productDetail-images-row img{
    max-width: 100%;
    max-height: 100%;
}

#productDetail-artisans-images-row img{
    width: 65%;
}

#ProductDetail h1{
    margin-bottom:1em;
}

#ProductDetail h2{
    margin-bottom: 1.5em;
}



#ProductDetail p{
    font-family: "Montserrat";
    color: var(--black);
    font-size: 1.1rem;
}

#ProductDetail h1, #ProductDetail h2{
    font-family: "Playfair Display";
    font-weight: bold;
}

#productDetail-productDescription-col{
    display: flex;
    margin: auto;
}

#productDetail-link-artisan{
    text-decoration: none;
}

#productDetail-link-artisan p{
    margin-bottom: 2em;
    margin-top: 2em;
}

#productDetail-link-bold{
    font-weight: bold;
}

.productDetail-italic{
    font-style: italic;
}

#productDetail-arrow{
    margin-left: 0.6rem;
}

.productDetail-productTag{
    text-transform: uppercase;
    color: var(--orange);
    font-weight: bold;
}
