#ProductDetail .container-fluid{
    padding-left: 11vw;
    padding-right: 11vw;
}

#productDetail-main-image{
    width: 100%;
}


#productDetail-images-row .col-4{
    max-height: 24.5vw;
}

#ProductDetail h1{
    margin-bottom:1em;
}


#ProductDetail p{
    font-family: "Montserrat";
    color: var(--black);
}

#ProductDetail h1, #ProductDetail h2{
    font-family: "Playfair Display";
    font-weight: bold;
}


#productDetail-link-artisan{
    text-decoration: none;
}

#productDetail-link-artisan p{
    margin-bottom: 2em;
    margin-top: 2em;
}

#productDetail-link-bold{
    font-weight: bold;
}

.productDetail-italic{
    font-style: italic;
}


.productDetail-productTag{
    text-transform: uppercase;
    color: var(--orange);
    font-weight: bold;
}

#productDetail-map{
    max-width: 100%;
}

@media (max-width: 992px) {
    #ProductDetail .ButtonOrange{
        width: 100%;
        text-align: center;
    }

    #ProductDetail .Breadcrumbs{
        display: none;
    }

    #productDetail-productDescription-container{
        margin-top:2em;
    }

    #productDetail-images-row img {
        margin-bottom: 1em;
    }

    #productDetail-artisan-description{
        margin-top: 2em;
    }

    #productDetail-artisans-images-row img{
        margin-bottom: 1em;
    }
    #ProductDetail .row{
        margin-bottom: 1.5em;
    }

    #productDetail-arrow{
        margin-left: 0.4rem;
    }

    #ProductDetail #Footer{
        display: none;
    }

    #productDetail-buttonOrange-container{
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
    }

}

@media (max-width: 576px){
    #productDetail-images-row img{
        max-width: 100%;
        max-height: 100%;
    }

    #ProductDetail p{
        font-size: .85rem;
    }

    #productDetail-artisans-images-row img{
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 992px){
    #productDetail-images-row .col-12{
        text-align: center;
    }

    #productDetail-images-row img{
        max-width: 70%;
        max-height: 100%;
    }

    #ProductDetail p{
        font-size: 1.1rem;
    }

    #productDetail-artisans-images-row img{
        width: 70%;
    }

    #productDetail-artisans-images-row .col-12{
        text-align: center;
    }

}

@media (min-width: 992px) {
    #productDetail-images-row img{
        max-width: 100%;
        max-height: 100%;
    }

    #productDetail-productDescription-col{
        padding-left: 5em;
    }
    #ProductDetail h2{
        margin-bottom: 1.5em;
    }
    #ProductDetail .row{
        margin-bottom: 5em;
    }

    #productDetail-arrow{
        margin-left: 0.6rem;
    }

    #productDetail-productDescription-col{
        display: flex;
        margin: auto;
    }

    #ProductDetail p{
        font-size: 1.1rem;
    }

    #productDetail-artisans-images-row img{
        width: 65%;
    }
}

#productDetail-subtitle-container{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
}
