
.artisan-row{
    padding-left: 11vw;
    padding-right: 11vw;
    align-items: center;
    margin-bottom: 4vh;
}

.artisan-row-photos{
    display: flex;
    justify-content: space-between;
}

.artisan-navigation{
    display: inline;
}

.inline{
    display: flex;
}

.normal-text-artisan{
    font-family: "Montserrat";
    font-size: 0.8rem;
    margin-right: 2rem;
}

.prueba{
    height: 100%;
}

.artisan-navigation{
    font-family: "Montserrat";
    font-size: .8rem;
}

.title-text-artisan{
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 2.5rem;
}

h1, h2{
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.orange{
    color: var(--orange);
}

.black{
    color: var(--black);
}

video{
    width: 100%;
}

.reduced-container{
    padding-left: 3rem;
    padding-right: 3rem;
}

#map-artisan{
    max-height: 30em;
    margin-top: 0em;
}

.technique-figure{
    width: 100%;
    padding: 1rem
}

.product-figure{
    height: 40vh;
    padding: 1rem
}

.normal-text-artisan-span{
    font-weight: 600;
}