    .content-order {
        font-family: "Montserrat";
        color: black;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }


    .title {
        font-family: "Montserrat";
        color: black;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;

    }

    .productArtisan {
        font-family: "Montserrat";
        color: #BF522A;
        font-style: bold;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    .productName {
        font-family: "Montserrat";
        color: black;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;

    }

    
    .productPrice {
        font-family: "Montserrat";
        color: black;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;

    }


    .price {
        font-family: "Montserrat";
        color: grey;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;

    }
    .priceDark {
        font-family: "Montserrat";
        color: black;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;

    }

    .content {
        font-family: "Montserrat";
        color: black;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    .detail {
        font-family: "Montserrat";
        color: #BF522A;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }


    @media(max-width: 900px){
        .order-container{
            width: 100%;
            padding: 0;
        }
    }
    
    @media(min-width: 900px) {
        .order-container{
            width: 100%;
            padding: 2em 10em 8em 10em !important;
        }
    }
    
    .caja{
        width: 300px;
        height: 300px;
        background-color: red;
    }

    .invoice{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        .product{
            margin-right: 20px;
            margin-top: 20px;

            & img{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                width: 150px;
                height: 150px;
            }
        }
    }
