.labels {
    font-family: "Montserrat";
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

}

.Selectedlabel {
    font-family: "Montserrat";
    color: black;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

}

.title {
    font-family: "Montserrat";
    color: #BF522A;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

}


.buttonCancel{
    width: 200px;
    background-color: var(--orange);
    color: var(--gray);
    text-transform: uppercase;
    font-weight: lighter;
    margin: 20px 0;
    border: 2px transparent;
    padding: 5px;
}